.navbar {
  max-height: 57px;
}
.navigation .navbar-brand {
  color: white;
  margin-left: 30px;
  padding: inherit;
  font-weight: bold;
  background-color: #0bada6;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar {
  background-color: white;
  font-size: 15px;
}

.active,
.dropdown-menu .dropdown-item:active a:hover {
  background-color: #e7e7e7;
}

.dropdown .dropdown-menu .dropdown-item:active,
.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #0bada6;
}

.nav-link:hover {
  background-color: #0bada6;
}

/* Body*/
body {
  background-color: #ededed;
  height: 750px;
  background-position: center;
  background-size: cover;
}
.row {
  margin-bottom: 5%;
  margin-left: 5%;
}
/* Title Class*/
.title {
  color: #0bada6;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  padding-top: 25px;
}

/* Paragraph */
p {
  color: black;
  font-size: 16;
}

/* Box Class */
.box {
  margin-top: 60px;
  margin-bottom: 67px;

  padding: 10px 20px 10px;
  color: black;
  background-color: white;
}

/* Images */
img {
  width: 100%;
  height: 100%;
}

.active,
.panel:hover {
  border-color: #0bada6;
  border-style: solid;
}

.vizualization {
  width: 50%;
  height: 50%;
}
/* Footer */
footer {
  background-color: #666666;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: #0bada6;
  color: white;
  min-height: 10px;
  font-family: cursive;
  font-size: 12px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 1px;
}

/* Table*/
.table {
  font-size: 15px;
  border-top-color: white;
  border-left-color: #666666;
  border-right-color: #666666;
}

/* Media Queries */
@media (max-width: 992px) {
  .navbar-expand-lg {
    background-color: #0bada6;
  }
  .navbar {
    max-height: none;
    padding: inherit;
  }
  .navbar div {
    margin: inherit;
    background-color: white;
  }
  .navbar-brand {
    padding: 10px;
  }

  button {
    margin-right: 30px;
  }
  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focusring-color;
  }
}
